Source: grml2usb
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.2
Homepage: http://hg.grml.org/grml2usb/
XS-Vcs-hg: http://hg.grml.org/grml2usb/
XS-Vcs-Browser: http://hg.grml.org/grml2usb/

Package: grml2usb
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, syslinux, mtools
Description: install grml-system to usb device
 This script installs a grml-system (more precive: a grml-iso) to
 an usb device.
