Source: grml2usb
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: asciidoc, xsltproc, docbook-xsl
Standards-Version: 3.9.1
Homepage: http://grml.org/grml2usb/
Vcs-git: git://git.grml.org/grml2usb.git
Vcs-Browser: http://git.grml.org/?p=grml2usb.git

Package: grml2usb
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, syslinux | grub2 | grub, python, rsync, mtools
Recommends: syslinux, mkisofs | genisoimage
Description: install grml system / ISO to usb device
 This script installs a grml ISO to an USB device to be able
 to boot from it.  Make sure you have at least one grml ISO
 or a running grml system (/live/image) available.
