#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp

build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)
	cd mbr && $(MAKE) && cd ..
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	$(MAKE) clean
	cd mbr && $(MAKE) clean && cd ..
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs usr/share/grml2usb/lilo usr/share/grml2usb/grub usr/share/grml2usb/mbr

	# Add here commands to install the package into debian/grml2usb.
	install -m 755 grml2usb               debian/grml2usb/usr/sbin/grml2usb
	install -m 755 grml2iso               debian/grml2usb/usr/sbin/grml2iso
	install -m 644 mbr/mbrmgr             debian/grml2usb/usr/share/grml2usb/mbr/mbrmgr
	install -m 644 mbr/mbrldr             debian/grml2usb/usr/share/grml2usb/mbr/mbrldr
	cp -a          lilo/                  debian/grml2usb/usr/share/grml2usb/
	cp -a          grub/                  debian/grml2usb/usr/share/grml2usb/

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs TODO
	dh_installman grml2usb.8
	dh_link
	dh_strip
	dh_compress
	mkdir -p debian/grml2usb/usr/share/lintian/overrides/
	cp -av debian/overrides debian/grml2usb/usr/share/lintian/overrides/grml2usb
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
