name: Code Testing
on:
  workflow_dispatch:
  pull_request:
  push:
  schedule:
    - cron: '42 1 * * *'

concurrency:
  group: "codecheck-${{ github.ref }}"
  cancel-in-progress: true
jobs:
  codecheck:
    runs-on: ubuntu-latest
    name: Run codecheck

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: pip install ruff, vulture
        run: pip3 install ruff vulture

      - name: Codecheck execution
        run: make codecheck

  unittests:
    runs-on: ubuntu-latest
    name: Run unit tests as root

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Install pytest and deps
        run: sudo apt install python3-pytest python3-parted syslinux grub-efi-amd64-signed grub2-common parted curl nasm make

      - name: Compile mbr
        run: make -C mbr

      # tests need root, as they manage loopdevs etc.
      - name: Run Pytest
        run: sudo pytest-3
